ul.mtype1 li {
    width: 50%;
    margin-right: 5%;
  }
  ul.mtype1 li h3 {
    font-size: 14px;
  }
  ul.mtype1 li{
    display: inline-block;
    background: #9199A1;
    width: 43%;
    min-height: 40px;
    line-height: 40px;
    border-bottom: 2px solid #53575c;
    position:relative;
    border-radius: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    margin-right: 12%;
    padding: 1px 0 0 0;
    font-size: 14px;
  }
  ul.mtype1 li p{
    float: right;
    background: #fff;
    color: #9199A1;
    font-size: 16px;
    padding: 1px 15px;
  }
  ul.mtype1 li h3{
    font-size: 20px;
    font-weight:600;
    margin-left: 5%;
    float: left;
    padding:3px 0 0 0;
    text-shadow: 2px 2px 0px rgb(96, 96, 96);
    -webkit-text-shadow: 2px 2px 0px rgb(96, 96, 96);
    -moz-text-shadow: 2px 2px 0px rgb(96, 96, 96);
    -o-text-shadow: 2px 2px 0px rgb(96, 96, 96);
  }
  ul.mtype1 li a{
      color:#fff;
  }

  ul.mtype2 li {
    width: 50%;
    margin-right: 5%;
  }
  ul.mtype2 li h3 {
    font-size: 14px;
  }
  ul.mtype2 li{
    display: inline-block;
    background: #CD406A;
    width: 43%;
    min-height: 40px;
    line-height: 40px;
    border-bottom: 2px solid #b6395f;
    position:relative;
    border-radius: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    margin-right: 12%;
    padding: 1px 0 0 0;
    font-size: 14px;
  }
  ul.mtype2 li p{
    float: right;
    background: #fff;
    color: #CD406A;
    font-size: 16px;
    padding: 1px 15px;
  }
  ul.mtype2 li h3{
    font-size: 20px;
    font-weight:600;
    margin-left: 5%;
    float: left;
    padding:3px 0 0 0;
    text-shadow: 2px 2px 0px rgb(96, 96, 96);
    -webkit-text-shadow: 2px 2px 0px rgb(96, 96, 96);
    -moz-text-shadow: 2px 2px 0px rgb(96, 96, 96);
    -o-text-shadow: 2px 2px 0px rgb(96, 96, 96);
  }
  ul.mtype2 li a{
      color:#fff;
  }
  ul.mtype3 li {
    width: 50%;
    margin-right: 5%;
  }
  ul.mtype3 li h3 {
    font-size: 14px;
  }
  ul.mtype3 li{
    display: inline-block;
    background: #96AADF;
    width: 43%;
    min-height: 40px;
    line-height: 40px;
    border-bottom: 2px solid #8798c7;
    position:relative;
    border-radius: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    margin-right: 12%;
    padding: 1px 0 0 0;
    font-size: 14px;
  }
  ul.mtype3 li p{
    float: right;
    background: #fff;
    color: #96AADF;
    font-size: 16px;
    padding: 1px 15px;
  }
  ul.mtype3 li h3{
    font-size: 20px;
    font-weight:600;
    margin-left: 5%;
    float: left;
    padding:3px 0 0 0;
    text-shadow: 2px 2px 0px rgb(96, 96, 96);
    -webkit-text-shadow: 2px 2px 0px rgb(96, 96, 96);
    -moz-text-shadow: 2px 2px 0px rgb(96, 96, 96);
    -o-text-shadow: 2px 2px 0px rgb(96, 96, 96);
  }
  ul.mtype3 li a{
      color:#fff;
  }

  ul.mtype4 li {
    width: 50%;
    margin-right: 5%;
  }
  ul.mtype4 li h3 {
    font-size: 14px;
  }
  ul.mtype4 li{
    display: inline-block;
    background: #A96AC8;
    width: 43%;
    min-height: 40px;
    line-height: 40px;
    border-bottom: 2px solid #8952a5;
    position:relative;
    border-radius: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    margin-right: 12%;
    padding: 1px 0 0 0;
    font-size: 14px;
  }
  ul.mtype4 li p{
    float: right;
    background: #fff;
    color: #A96AC8;
    font-size: 16px;
    padding: 1px 15px;
  }
  ul.mtype4 li h3{
    font-size: 20px;
    font-weight:600;
    margin-left: 5%;
    float: left;
    padding:3px 0 0 0;
    text-shadow: 2px 2px 0px rgb(96, 96, 96);
    -webkit-text-shadow: 2px 2px 0px rgb(96, 96, 96);
    -moz-text-shadow: 2px 2px 0px rgb(96, 96, 96);
    -o-text-shadow: 2px 2px 0px rgb(96, 96, 96);
  }
  ul.mtype4 li a{
      color:#fff;
  }
  
  ul.mtype5 li {
    width: 50%;
    margin-right: 5%;
  }
  ul.mtype5 li h3 {
    font-size: 14px;
  }
  ul.mtype5 li{
    display: inline-block;
    background: #D87844;
    width: 43%;
    min-height: 40px;
    line-height: 40px;
    border-bottom: 2px solid #a05832;
    position:relative;
    border-radius: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    margin-right: 12%;
    padding: 1px 0 0 0;
    font-size: 14px;
  }
  ul.mtype5 li p{
    float: right;
    background: #fff;
    color: #D87844;
    font-size: 16px;
    padding: 1px 15px;
  }
  ul.mtype5 li h3{
    font-size: 20px;
    font-weight:600;
    margin-left: 5%;
    float: left;
    padding:3px 0 0 0;
    text-shadow: 2px 2px 0px rgb(96, 96, 96);
    -webkit-text-shadow: 2px 2px 0px rgb(96, 96, 96);
    -moz-text-shadow: 2px 2px 0px rgb(96, 96, 96);
    -o-text-shadow: 2px 2px 0px rgb(96, 96, 96);
  }
  ul.mtype5 li a{
      color:#fff;
  }
  ul.mtype6 li {
    width: 50%;
    margin-right: 5%;
  }
  ul.mtype6 li h3 {
    font-size: 14px;
  }
  ul.mtype6 li{
    display: inline-block;
    background: #5d9cec;
    width: 43%;
    min-height: 40px;
    line-height: 40px;
    border-bottom: 2px solid #225699;
    position:relative;
    border-radius: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    margin-right: 12%;
    padding: 1px 0 0 0;
    font-size: 14px;
  }
  ul.mtype6 li p{
    float: right;
    background: #fff;
    color: #5d9cec;
    font-size: 16px;
    padding: 1px 15px;
  }
  ul.mtype6 li h3{
    font-size: 20px;
    font-weight:600;
    margin-left: 5%;
    float: left;
    padding:3px 0 0 0;
    text-shadow: 2px 2px 0px rgb(96, 96, 96);
    -webkit-text-shadow: 2px 2px 0px rgb(96, 96, 96);
    -moz-text-shadow: 2px 2px 0px rgb(96, 96, 96);
    -o-text-shadow: 2px 2px 0px rgb(96, 96, 96);
  }
  ul.mtype6 li a{
      color:#fff;
  }
  ul.mtype7 li {
    width: 50%;
    margin-right: 5%;
  }
  ul.mtype7 li h3 {
    font-size: 14px;
  }
  ul.mtype7 li{
    display: inline-block;
    background: #5d9cec;
    width: 43%;
    min-height: 40px;
    line-height: 40px;
    border-bottom: 2px solid #225699;
    position:relative;
    border-radius: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    margin-right: 12%;
    padding: 1px 0 0 0;
    font-size: 14px;
  }
  ul.mtype7 li p{
    float: right;
    background: #fff;
    color: #5d9cec;
    font-size: 16px;
    padding: 1px 15px;
  }
  ul.mtype7 li h3{
    font-size: 20px;
    font-weight:600;
    margin-left: 5%;
    float: left;
    padding:3px 0 0 0;
    text-shadow: 2px 2px 0px rgb(96, 96, 96);
    -webkit-text-shadow: 2px 2px 0px rgb(96, 96, 96);
    -moz-text-shadow: 2px 2px 0px rgb(96, 96, 96);
    -o-text-shadow: 2px 2px 0px rgb(96, 96, 96);
  }
  ul.mtype7 li a{
      color:#fff;
  }
  
  ul.mtype8 li {
    width: 50%;
    margin-right: 5%;
  }
  ul.mtype8 li h3 {
    font-size: 14px;
  }
  ul.mtype8 li{
    display: inline-block;
    background: #5d9cec;
    width: 43%;
    min-height: 40px;
    line-height: 40px;
    border-bottom: 2px solid #225699;
    position:relative;
    border-radius: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    margin-right: 12%;
    padding: 1px 0 0 0;
    font-size: 14px;
  }
  ul.mtype8 li p{
    float: right;
    background: #fff;
    color: #5d9cec;
    font-size: 16px;
    padding: 1px 15px;
  }
  ul.mtype8 li h3{
    font-size: 20px;
    font-weight:600;
    margin-left: 5%;
    float: left;
    padding:3px 0 0 0;
    text-shadow: 2px 2px 0px rgb(96, 96, 96);
    -webkit-text-shadow: 2px 2px 0px rgb(96, 96, 96);
    -moz-text-shadow: 2px 2px 0px rgb(96, 96, 96);
    -o-text-shadow: 2px 2px 0px rgb(96, 96, 96);
  }
  ul.mtype8 li a{
      color:#fff;
  }
  ul.mtype9 li {
    width: 50%;
    margin-right: 5%;
  }
  ul.mtype9 li h3 {
    font-size: 14px;
  }
  ul.mtype9 li{
    display: inline-block;
    background: #5d9cec;
    width: 43%;
    min-height: 40px;
    line-height: 40px;
    border-bottom: 2px solid #225699;
    position:relative;
    border-radius: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    margin-right: 12%;
    padding: 1px 0 0 0;
    font-size: 14px;
  }
  ul.mtype9 li p{
    float: right;
    background: #fff;
    color: #5d9cec;
    font-size: 16px;
    padding: 1px 15px;
  }
  ul.mtype9 li h3{
    font-size: 20px;
    font-weight:600;
    margin-left: 5%;
    float: left;
    padding:3px 0 0 0;
    text-shadow: 2px 2px 0px rgb(96, 96, 96);
    -webkit-text-shadow: 2px 2px 0px rgb(96, 96, 96);
    -moz-text-shadow: 2px 2px 0px rgb(96, 96, 96);
    -o-text-shadow: 2px 2px 0px rgb(96, 96, 96);
  }
  ul.mtype9 li a{
      color:#fff;
  }
  ul.mtype10 li {
    width: 50%;
    margin-right: 5%;
  }
  ul.mtype10 li h3 {
    font-size: 14px;
  }
  ul.mtype10 li{
    display: inline-block;
    background: #5d9cec;
    width: 43%;
    min-height: 40px;
    line-height: 40px;
    border-bottom: 2px solid #225699;
    position:relative;
    border-radius: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    margin-right: 12%;
    padding: 1px 0 0 0;
    font-size: 14px;
  }
  ul.mtype10 li p{
    float: right;
    background: #fff;
    color: #5d9cec;
    font-size: 16px;
    padding: 1px 15px;
  }
  ul.mtype10 li h3{
    font-size: 20px;
    font-weight:600;
    margin-left: 5%;
    float: left;
    padding:3px 0 0 0;
    text-shadow: 2px 2px 0px rgb(96, 96, 96);
    -webkit-text-shadow: 2px 2px 0px rgb(96, 96, 96);
    -moz-text-shadow: 2px 2px 0px rgb(96, 96, 96);
    -o-text-shadow: 2px 2px 0px rgb(96, 96, 96);
  }
  ul.mtype10 li a{
      color:#fff;
  }
  
  ul.mtype11 li {
    width: 50%;
    margin-right: 5%;
  }
  ul.mtype11 li h3 {
    font-size: 14px;
  }
  ul.mtype11 li{
    display: inline-block;
    background: #5d9cec;
    width: 43%;
    min-height: 40px;
    line-height: 40px;
    border-bottom: 2px solid #225699;
    position:relative;
    border-radius: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    margin-right: 12%;
    padding: 1px 0 0 0;
    font-size: 14px;
  }
  ul.mtype11 li p{
    float: right;
    background: #fff;
    color: #5d9cec;
    font-size: 16px;
    padding: 1px 15px;
  }
  ul.mtype11 li h3{
    font-size: 20px;
    font-weight:600;
    margin-left: 5%;
    float: left;
    padding:3px 0 0 0;
    text-shadow: 2px 2px 0px rgb(96, 96, 96);
    -webkit-text-shadow: 2px 2px 0px rgb(96, 96, 96);
    -moz-text-shadow: 2px 2px 0px rgb(96, 96, 96);
    -o-text-shadow: 2px 2px 0px rgb(96, 96, 96);
  }
  ul.mtype11 li a{
      color:#fff;
  }
  ul.mtype12 li {
    width: 50%;
    margin-right: 5%;
  }
  ul.mtype12 li h3 {
    font-size: 14px;
  }
  ul.mtype12 li{
    display: inline-block;
    background: #5d9cec;
    width: 43%;
    min-height: 40px;
    line-height: 40px;
    border-bottom: 2px solid #225699;
    position:relative;
    border-radius: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    margin-right: 12%;
    padding: 1px 0 0 0;
    font-size: 14px;
  }
  ul.mtype12 li p{
    float: right;
    background: #fff;
    color: #5d9cec;
    font-size: 16px;
    padding: 1px 15px;
  }
  ul.mtype12 li h3{
    font-size: 20px;
    font-weight:600;
    margin-left: 5%;
    float: left;
    padding:3px 0 0 0;
    text-shadow: 2px 2px 0px rgb(96, 96, 96);
    -webkit-text-shadow: 2px 2px 0px rgb(96, 96, 96);
    -moz-text-shadow: 2px 2px 0px rgb(96, 96, 96);
    -o-text-shadow: 2px 2px 0px rgb(96, 96, 96);
  }
  ul.mtype12 li a{
      color:#fff;
  }
  ul.mtype13 li {
    width: 50%;
    margin-right: 5%;
  }
  ul.mtype13 li h3 {
    font-size: 14px;
  }
  ul.mtype13 li{
    display: inline-block;
    background: #5d9cec;
    width: 43%;
    min-height: 40px;
    line-height: 40px;
    border-bottom: 2px solid #225699;
    position:relative;
    border-radius: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    margin-right: 12%;
    padding: 1px 0 0 0;
    font-size: 14px;
  }
  ul.mtype13 li p{
    float: right;
    background: #fff;
    color: #5d9cec;
    font-size: 16px;
    padding: 1px 15px;
  }
  ul.mtype13 li h3{
    font-size: 20px;
    font-weight:600;
    margin-left: 5%;
    float: left;
    padding:3px 0 0 0;
    text-shadow: 2px 2px 0px rgb(96, 96, 96);
    -webkit-text-shadow: 2px 2px 0px rgb(96, 96, 96);
    -moz-text-shadow: 2px 2px 0px rgb(96, 96, 96);
    -o-text-shadow: 2px 2px 0px rgb(96, 96, 96);
  }
  ul.mtype13 li a{
      color:#fff;
  }
  ul.mtype14 li {
    width: 50%;
    margin-right: 5%;
  }
  ul.mtype14 li h3 {
    font-size: 14px;
  }
  ul.mtype14 li{
    display: inline-block;
    background: #5d9cec;
    width: 43%;
    min-height: 40px;
    line-height: 40px;
    border-bottom: 2px solid #225699;
    position:relative;
    border-radius: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    margin-right: 12%;
    padding: 1px 0 0 0;
    font-size: 14px;
  }
  ul.mtype14 li p{
    float: right;
    background: #fff;
    color: #5d9cec;
    font-size: 16px;
    padding: 1px 15px;
  }
  ul.mtype14 li h3{
    font-size: 20px;
    font-weight:600;
    margin-left: 5%;
    float: left;
    padding:3px 0 0 0;
    text-shadow: 2px 2px 0px rgb(96, 96, 96);
    -webkit-text-shadow: 2px 2px 0px rgb(96, 96, 96);
    -moz-text-shadow: 2px 2px 0px rgb(96, 96, 96);
    -o-text-shadow: 2px 2px 0px rgb(96, 96, 96);
  }
  ul.mtype14 li a{
      color:#fff;
  }
  ul.mtype15 li {
    width: 50%;
    margin-right: 5%;
  }
  ul.mtype15 li h3 {
    font-size: 14px;
  }
  ul.mtype15 li{
    display: inline-block;
    background: #5d9cec;
    width: 43%;
    min-height: 40px;
    line-height: 40px;
    border-bottom: 2px solid #225699;
    position:relative;
    border-radius: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    margin-right: 12%;
    padding: 1px 0 0 0;
    font-size: 14px;
  }
  ul.mtype15 li p{
    float: right;
    background: #fff;
    color: #5d9cec;
    font-size: 16px;
    padding: 1px 15px;
  }
  ul.mtype15 li h3{
    font-size: 20px;
    font-weight:600;
    margin-left: 5%;
    float: left;
    padding:3px 0 0 0;
    text-shadow: 2px 2px 0px rgb(96, 96, 96);
    -webkit-text-shadow: 2px 2px 0px rgb(96, 96, 96);
    -moz-text-shadow: 2px 2px 0px rgb(96, 96, 96);
    -o-text-shadow: 2px 2px 0px rgb(96, 96, 96);
  }
  ul.mtype15 li a{
      color:#fff;
  }
  
  ul.mtype16 li {
    width: 50%;
    margin-right: 5%;
  }
  ul.mtype16 li h3 {
    font-size: 14px;
  }
  ul.mtype16 li{
    display: inline-block;
    background: #5d9cec;
    width: 43%;
    min-height: 40px;
    line-height: 40px;
    border-bottom: 2px solid #225699;
    position:relative;
    border-radius: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    margin-right: 12%;
    padding: 1px 0 0 0;
    font-size: 14px;
  }
  ul.mtype16 li p{
    float: right;
    background: #fff;
    color: #5d9cec;
    font-size: 16px;
    padding: 1px 15px;
  }
  ul.mtype16 li h3{
    font-size: 20px;
    font-weight:600;
    margin-left: 5%;
    float: left;
    padding:3px 0 0 0;
    text-shadow: 2px 2px 0px rgb(96, 96, 96);
    -webkit-text-shadow: 2px 2px 0px rgb(96, 96, 96);
    -moz-text-shadow: 2px 2px 0px rgb(96, 96, 96);
    -o-text-shadow: 2px 2px 0px rgb(96, 96, 96);
  }
  ul.mtype16 li a{
      color:#fff;
  }
  ul.mtype17 li {
    width: 50%;
    margin-right: 5%;
  }
  ul.mtype17 li h3 {
    font-size: 14px;
  }
  ul.mtype17 li{
    display: inline-block;
    background: #5d9cec;
    width: 43%;
    min-height: 40px;
    line-height: 40px;
    border-bottom: 2px solid #225699;
    position:relative;
    border-radius: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    margin-right: 12%;
    padding: 1px 0 0 0;
    font-size: 14px;
  }
  ul.mtype17 li p{
    float: right;
    background: #fff;
    color: #5d9cec;
    font-size: 16px;
    padding: 1px 15px;
  }
  ul.mtype17 li h3{
    font-size: 20px;
    font-weight:600;
    margin-left: 5%;
    float: left;
    padding:3px 0 0 0;
    text-shadow: 2px 2px 0px rgb(96, 96, 96);
    -webkit-text-shadow: 2px 2px 0px rgb(96, 96, 96);
    -moz-text-shadow: 2px 2px 0px rgb(96, 96, 96);
    -o-text-shadow: 2px 2px 0px rgb(96, 96, 96);
  }
  ul.mtype17 li a{
      color:#fff;
  }
  ul.mtype18 li {
    width: 50%;
    margin-right: 5%;
  }
  ul.mtype18 li h3 {
    font-size: 14px;
  }
  ul.mtype18 li{
    display: inline-block;
    background: #5d9cec;
    width: 43%;
    min-height: 40px;
    line-height: 40px;
    border-bottom: 2px solid #225699;
    position:relative;
    border-radius: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    margin-right: 12%;
    padding: 1px 0 0 0;
    font-size: 14px;
  }
  ul.mtype18 li p{
    float: right;
    background: #fff;
    color: #5d9cec;
    font-size: 16px;
    padding: 1px 15px;
  }
  ul.mtype18 li h3{
    font-size: 20px;
    font-weight:600;
    margin-left: 5%;
    float: left;
    padding:3px 0 0 0;
    text-shadow: 2px 2px 0px rgb(96, 96, 96);
    -webkit-text-shadow: 2px 2px 0px rgb(96, 96, 96);
    -moz-text-shadow: 2px 2px 0px rgb(96, 96, 96);
    -o-text-shadow: 2px 2px 0px rgb(96, 96, 96);
  }
  ul.mtype18 li a{
      color:#fff;
  }
  
  