
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>随机宝可梦</title>
</head>
<body>
 
    <h3>随机精灵</h3>
    <img src="{{ url_for('static', filename=filename)}}" width="auto" height="auto" alt="你的图片被外星人劫持了～～"/>
    <div>
        <table>
            {{serial_num}}
            等级LV.{{level}}
            {{pkmon_name}}
            {{pkmon_type1}}
            {{pkmon_type2}}
            {{ability}}
            {{hp_value}}
            {{atk_value}}
            {{defend_value}}
            {{atk_sp_value}}
            {{defend_sp_value}}
            {{speed_value}}</table>
    </div>
    
   
 
</body>

